{% extends 'base.html.twig' %}

{% block title %}Saisir Materiel{% endblock %}

{% block body %}

    <div class="example-wrapper mb-5 mt-5">
        <h1 class="text-center py-4">Saisir les Materiels</h1>
        <div class="well well-lg">
            <p class="text-center">
                <strong> Ajouter des nouveaux Materiels !</strong>
            </p>
        </div>
    </div>

    {{ form_start(form) }}
        <div class="control-group mb-3">
            <label for="" class="form-label"><strong> Nom </strong></label>
            {{ form_widget(form.nom, {label: 'Nom', attr: {class: 'form-group'}}) }}
        </div>

        <div class="control-group mb-3">
            <label for="" class="form-label"><strong> Reference </strong></label>
            {{ form_widget(form.reference, {'attr': {'class': 'form-group'}}) }}
        </div>

        <div class="control-group mb-3">
            <label for="" class="form-label"><strong> Prix </strong></label>
            {{ form_widget(form.prix_vente, {'attr': {'class': 'form-group'}}) }}
        </div>

        {{ form_widget(form.saveAndCreateNew, {label: 'Enregistrer', attr: {class: 'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}
